/*Reset*/
*
{
    padding: 0;
    margin: 0;
}

/*Topography*/
body
{
    background-color: aliceblue;
}

h1, p 
{
    color:blue;
    text-align: center;
}

h1 em
{
    color: #8360c3;
}

h1 + p
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ma-class
{
    color:red;
}

/*Layout*/
.grand-texte
{
    font-size:50px;
    font-weight: 500;
    text-decoration: underline;
}

span.en-rouge
{
    color:red;
    font-size: 1.5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style:italic;
}

.baniere
{
    padding: 100px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIbwzPEL4Lu4ZbKhTxYjoEHeeoSg_Ei-dG_g&s);
    background-size: contain;
    /* background-attachment: fixed;
    background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    /* opacity: 0.9; */
    background-color: rgba(0,0,0,0.5);
    /* background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIbwzPEL4Lu4ZbKhTxYjoEHeeoSg_Ei-dG_g&s) fixed cover; */
}

.index-baniere
{
    background: linear-gradient(90deg, #8360c3, #2ebf91);
    border: 2px red solid;
    border-bottom: violet dashed;
    border-radius: 10px 30%;
    box-shadow:6px 6px 0px rgb(0, 0, 0, 0.5);
}

.lorem:hover
{
    background-color: #2ebf91;
}

a:active
{
    background-color: #8360c3;
}

a:visited
{
    color:black;
}

img[title*=ici]
{
    border: 5px black solid;
    border-radius: 5px;
}

/*Components*/
#logo
{
    height:80px;
    width: auto;
}

.presentation
{
    text-align: justify;
    color:rgba(250, 25, 118, 0.5);
    text-shadow: 3px 3px 0px rgb(0,0,0,0.2);
}