* {padding: 0; margin: 0;}

body
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
}

a:visited
{
    color:black;
}

.nav-bar
{
    margin: 1.2em;
    width: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:left;
    text-decoration: none;
    font-size: 1.3em;
    color: black;
}

.lien
{
    margin-left: 20px;
    border: 1px black solid;
    border-radius: 3px;
}

.lien:hover
{
    background-color: blueviolet;
}

.presentation
{
    width: 70%;
    text-align: justify;
    background-color: blueviolet;
    padding: 8px;
    margin: auto;
}


/*index2*/
.container
{
    height: 530px;
    border: 2px black solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /*ou flex-flow*/
    justify-content:center;
    align-items: center;
    /* align-content: center; */
}

.element
{
    width: 50px;
    height: 50px;
}

.element1 , .element5
{
    background-color: blueviolet;
    order:2;
    align-self:flex-end; 
}

.element2, .element6
{
    background-color: orange;
}

.element3, .element7
{
    background-color: red;
}

.element4, .element8
{
    background-color: blue;
}

/*index3*/
.conteneur
{
    padding: 5px;
    border: 2px black solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);/*3 columns*/
    grid-template-rows: 100px 100px 100px 100px 100px 100px;/*6 rows*/
    gap: 10px;
}

.box
{
    border: 2px black solid;
    border-radius: 5px;
    text-align: center;
    /* height: 150px; */ /*ne pas donné si on a grid-template-rows*/
}

.une
{
    grid-column-start: 1;
    grid-column-end: 4; /*on depasse la 3e column donc +1 = 4*/
    /* grid-colum-end : span 3; ou span pour dire jusqu'à quelle column */
}

.deux
{
    grid-row: 2 / 4;/*commence a la ligne 2 et fini apres la 3e donc 4*/
}

.cinq
{
    grid-column: 2 / 4;
}

.six
{
    /* grid-column: 1 / 3; */
    grid-column: span 2 / 3;
}

.neuf
{
    /* display:inline; */
    /* grid-column: 2 / 4;
    grid-row: 5 / 7; */
    grid-area: 5 / 2 / 7 / 4;
}

.text
{
    background-color: violet;
}

.box a
{
    position: absolute;
    background-color: blue;
    top: 5px;
    left: 10px;
    /* z-index: 1; */
}