#=MySQL Daemon
[mysqld]
#indique qu'il faut tourner sous l'user system mysql et pas root
user=mysql
#chemin où mariadb stock toutes les données
datadir=/var/lib/mysql
#chemin de l'init.sql
init_file = /etc/mysql/init.sql
#port tcp sur lequel mariadb ecoute pour les connexions
port=3306
#address ip sur laquelle le serveru ecoute
#elle prende toutes les interfaces reseau
#sans ca, mariadb accepte que 127.0.0.1, inaccessible a wp par exemple
bind-address=0.0.0.0
#active les connexions reseau
skip-networking=0
